<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>127484752781-abg69i92dcda0hlqhj3fskagcm7sb0k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127484752781-abg69i92dcda0hlqhj3fskagcm7sb0k8</string>
	<key>API_KEY</key>
	<string>AIzaSyDrdDNTKrgyqYCwaouAXlWQI-WLt1aUuA0</string>
	<key>GCM_SENDER_ID</key>
	<string>127484752781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piovezan.FirestoreLoginView</string>
	<key>PROJECT_ID</key>
	<string>dynamic-view-66cf9</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamic-view-66cf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127484752781:ios:164a79dfc3c8b8fa</string>
	<key>DATABASE_URL</key>
	<string>https://dynamic-view-66cf9.firebaseio.com</string>
</dict>
</plist>